<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 상세</title>
</head>
<body>
<div class="product-wrap">
    <h3>상품 상세</h3>
    <hr>
    <form method="post" action="" >
        <div>
            <div><label for="">회원아이디</label><input type="text" readonly name="mid" th:value="${memForm.memberId}"></div>
            <div><label for="">이메일</label><input type="text" readonly name="email" th:value="${memForm.email}"></div>
            <div><label for="">비밀번호</label><input type="text" readonly name="pw" th:value="${memForm.pw}"></div>
            <div><label for="">닉네임</label><input type="text" readonly name="nickname" th:value="${memForm.nickname}"></div>
            <div>
                <button id="editBtn" type="button">수정</button>
                <button id="delBtn" type="button">삭제</button>
                <button id="listBtn" type="button">목록</button>
            </div>
        </div>
    </form>
</div>
<script>
    (()=> { //iife
        const pid = document.querySelector('input[name=pid]').value;

        //수정
        editBtn.addEventListener('click',e=>{

        const url = `/products/${pid}/edit`;
        location.href = url;

         });
        //삭제
        delBtn.addEventListener('click',e=>{
        if(!confirm('삭제하시겠습니까?')) return;
        const url = `/products/${pid}/del`;
        location.href = url;
         });
        //목록
        listBtn.addEventListener('click',e=>{
        location.href = '/products';

        })
    })();
</script>
</body>
</html>